*{
    box-sizing: border-box;
    
}

.emailForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: inset 1px black;
    height: 865px;
    background-color: rgba(233, 146, 15, 0.6);

    
}