* {
  box-sizing: border-box;
}
#nav-links {
  margin-top: -14px;
  height: 20px;
  z-index: 1;

  background-color: rgb(38, 38, 123);
}

#navList {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
}

li {
  color: rgb(237, 171, 100);
  font-size: 18px;
  font-weight: bold;
}

li:hover {
  color: crimson;
  font-size: 20px;
}
