*{
    box-sizing: border-box;
}

.videos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: rgba(233, 146, 15, 0.6);
    height: 1000px;
    
}

#videoList{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;


   }

   iframe{
       box-shadow: 5px 5px 5px black;
   }
iframe:hover{
width: 800px;
height:400px;
}



   


